.order-position {
    width: 60%;
    border: 2px solid midnightblue;
    margin: 4px 0;
    font-size: 20px
}

.order-position .title {
    width: 55%;
    display: inline-block;
}

.order-position .manufacturer {
    width: 15%;
    display: inline-block;
}

.order-position .quantity {
    width: 10%;
    display: inline-block;
}

.order-position .piece-price {
    width: 10%;
    display: inline-block;
}

.order-position .price {
    width: 15%;
    display: inline-block;
}